
@import url(fonts.css);

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
   font-size: 62.5%;
}

body{
font-size: 1.2rem;
}

/* ROOT */

:root{
   --color-primary:#234894;
   --color-date:#696969;
   --color-number__bgc: #AFCEDD;
   --color-number:#234894;
   --color-btn:#219F95;
   --color-gray-300:#ccc;
   --color-avatar:#fff;
   /* BORDER RADIUS */
   --border-radius-sm:0.5rem;
   --border-radius-md:0.8rem;
   --border-radius-lg:1rem;
   /* BORDER */
   --border-primary: 2px solid var(--color-gray-300);


}

/* SECTION */

.block-task{
   font-family: "vazir-Medium";
   padding: 3rem;
}

.task{
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
} 

.task-item{
   
   padding:0.5rem 1rem;
}

p{
   margin-bottom: 3rem;
}


 @media screen and (min-width:768px){
   .task{
      grid-template-columns: repeat(2, 3fr);
   }
 }

 @media screen and (min-width:1024px) {
    .task{
        grid-template-columns: repeat(3, 2fr);
    }  
 }


/* HEADER */

.task-header{
   display: flex;
   align-items: center;
   gap: 1rem;
}

.task-header .number{
   color: var(--color-number);
   background-color:var(--color-number__bgc) ;
   width: 40px;
   height: 40px;
   border-radius: var(--border-radius-sm);
   text-align: center;
   padding: 1rem;
}

.task-header .label{
   color: var(--color-primary);
   flex: 1;
}

.task-header .date{
   font-size: 1rem;
   color: var(--color-date);
}

/* MAIN */

.task-main{
   padding: 1rem;
}

.task-main .main__text{
   font-size: 0.80rem;
   color: var(--color-date);
}

/* FOOTER */

.task-footer .footer{
   display: flex;
   align-items: center;
   gap: 1rem;

}


.avatar{
   width: 40px;
   height: 40px;
   border: 0;
   border-radius: var(--border-radius-md);
}

.text{
  display: flex;
  align-items: center;
  flex: 1;
}

.task-footer .btn{
   background-color: var(--color-btn);
   color: var(--color-avatar);
   padding:1rem;
   border-radius: var(--border-radius-md);
   border: 0;
   outline: 0;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
   font-size: 1rem;
   font-family: "vazir-Medium";
}